hr {
  border: none;
  color: #ffffff;
  margin-top: 0;
  opacity: 50%;
  width: 90%;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1rem;
}

.section-heading {
  font-size: 2rem;
  margin: 0;
}

.heading-container {
  box-shadow: 5px 5px rgba(14, 85, 156, 0.5), 10px 10px rgba(14, 85, 156, .25);
  width: max-content;
  padding: 0.25rem 0.75rem;
  margin-bottom: 2.5rem;
  background-color: #0E559C;
  color: #fff;
}

.heading-container-neg {
  background-color: #fff;
  color: #0E559C;
  box-shadow: 5px 5px rgba(255, 255, 255, 0.5), 10px 10px rgba(255, 255, 255, .25);
}

body {
  font-family: 'Montserrat-Black', sans-serif;
  font-size: 14px;
}

/* ------------------------------------------------ NAVBAR ---------------------------------------------------------- */
.navbar-toggler {
  background: #0161c1;
  border-color: white;
  color: #0161c1;
  margin-right: 10px;
}

.navbar-toggler:hover {
  background: #016eda;
  color: #016eda;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-brand {
  color: white;
  font-family: 'Ubuntu', sans-serif;
  font-size: 2rem;
  font-weight: bold;
}

.navbar-brand:hover {
  color: #99ccff;
}

.nav-item {
  padding: 0 10px;
}

.nav-link {
  font-family: 'Montserrat-Light', sans-serif;
  font-size: 1.2rem;
}

.navbar-nav li a {
  color: white;
}

.navbar-nav li a:hover {
  color: #99ccff;
}

.navbar-nav {
  padding: 0;
  text-align: end;
}

.pe-4 {
  padding-right: 5px !important;
}

.navbar {
  background-color: #0E559C;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: #0261c0;
  position: fixed;
  /* Set the navbar to fixed position */
  top: 0;
  /* Position the navbar at the top of the page */
  width: 100%;
  /* Full width */
  z-index: 100;
}

/* ------------------------------------------------ INTRO ----------------------------------------------------------- */
.my-name {
  color: #ffffff;
  font-size: 2.5rem;
  font-weight: 900;
  line-height: 1.5;
  margin-bottom: 1.5rem;
}

#title {
  background-image: url("../images/bg1.png");
  background-position: 100% 60%;
  padding-top: 50px;
  text-shadow: #084b8d 1px 0 10px;
  overflow: hidden;
}

.avatar {
  border-radius: 50%;
  border: 0.5rem solid rgba(255, 255, 255, 0.2);
  height: 200px;
  margin-bottom: 3rem;
}

.introduction {
  margin: 85px auto 50px;
  padding: 0 1rem 9rem;
  text-align: center;
  max-width: 1000px;
}

.resume {
  color: #ffffff;
}

.resume p {
  font-size: 1.25rem;
}

/* ------------------------------------------------ CONTACT --------------------------------------------------------- */
.contact-area {
  width: max-content;
}

.contact-grp {
  width: max-content;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.contact-solo {
  align-items: center;
  display: flex;
  justify-content: left;
  margin: 10px 0;
}

#contact {
  color: #212529;
  margin: 6.25rem auto;
  max-width: 1000px;
  padding: 0 1rem;
  overflow: hidden;
}

.mail-part {
  text-decoration: none;
  color: #212529;
}

.mail-part:hover {
  color: #007bff;
}

.icon-container {
  background-color: #0E559C;
  border-radius: 50%;
  color: white;
  display: inline-block;
  height: 70px;
  margin-bottom: 5px;
  margin-right: 30px;
  margin-top: 5px;
  width: 70px;
}

.icon-container:hover {
  background-color: #0261c0;
}

.icon-container-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

/* ------------------------------------------------ EXPERIENCES ----------------------------------------------------- */
.carousel-item {
  padding: 7% 15%;
}

#experiences {
  background-color: #0E559C;
  color: #ffffff;
padding: 6.25rem 0;
}

#experiences .job-details {
  text-shadow: 0px 0px 10px #094d91;
}

.experiences {
  max-width: 1000px;
  margin: auto;
  padding: 0 1rem;
}

.job-logo {
  border-radius: 50%;
  width: 20%;
}

.job-details {
  padding-right: 5%;
}

.job-title {
  font-weight: 700;
  font-size: 1.75rem;
  margin-bottom: 15px;
}

.job-location {
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.job-date {
  text-transform: uppercase;
}

/* ---------------------------------------------------- SKILLS ------------------------------------------------------ */
#competences {
  background-color: #0E559C;
}

/* .skill-column {
  padding: 3% 3%;
} */
.skill-container {
  max-width: 1000px;
  padding: 6.25rem 1rem !important;
  overflow: hidden;
}

.skill-card {
  margin: 0 auto;
}

.card-body {
  background-color: #cce6ff;
  color: #212529;
  font-size: 0.8rem;
}

.card-header {
  background-color: #dfebf7;
}

.skill-row {
  --bs-gutter-y: 1.5rem;
}

.skills-list {
  padding-left: 0px;
}

.skills-list li {
  list-style-type: none;
  margin-bottom: 0.5rem;
  padding-left: 2.5rem;
  position: relative;
}

.skills-list li:before {
  border-color: #007bff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  content: '';
  display: block;
  height: 11px;
  left: 0;
  position: absolute;
  top: 0px;
  transform-origin: bottom left;
  transform: rotate(45deg);
  width: 5px;
}

.card-title {
  color: #007bff;
  font-size: 1.4rem;
  margin-top: 8px;
  text-align: center;
}

/* --------------------------------------------------- FORMATION ---------------------------------------------------- */
.container-fluid {
  padding: 3% 5%;
}

#formation {
  padding: 70px 0;
  background-color: white;
  color: #212529;
}

.formation-container {
  max-width: 1000px;
  overflow: hidden;
  padding: 0 1rem;
}

.edu-card {
  border: 0;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .2);
  margin-bottom: 20px;
}

.edu-card .row {
  --bs-gutter-x: 0;
}

.edu-card-header {
  background-color: #dfebf7;
  text-align: center;
  padding: 30px 10px;
}

.edu-card-body {
  padding: 1.25rem;
}

#formation h5 {
  font-size: 1.57em;
  line-height: 1.4em;
}

.diploma-name {
  color: #007bff;
}

.diploma-year {
  margin-top: 0;
  margin-bottom: 1rem;
  color: #007bff;
}

.diploma-school {
  text-transform: uppercase;
  color: #656565;
  font-size: 14px;
  margin-bottom: 1rem;
}

.diploma-fullname {
  margin-bottom: 0;
}

/* ---------------------------------------------------- DIVERS ------------------------------------------------------ */
#divers {
  max-width: 1000px;
  margin: 100px auto;
  padding: 0 1rem;
}

.divers-container {
  background-image: url("../images/bg2.jpg");
  background-position: center;
  border-radius: 20px;
  box-shadow: 0 0 10px 4px #cccccc;
  display: flex;
  height: 310px;
  margin: 0 auto;
  max-width: 600px;
  overflow: hidden;
}

.divers-container-left {
  align-items: center;
  background: rgba(238, 238, 238, 0.9);
  display: flex;
  height: 100%;
  padding: 0 1rem;
}

.div-texts {
  color: #212529;
  font-size: 0.8rem;
  margin: 0 auto;
}

.div-texts h5 {
  color: #007bff;
  font-size: 1.4rem;
}

.div-texts hr {
  color: #007bff;
}

/* ---------------------------------------------------- FOOTER ------------------------------------------------------ */
#footer {
  background-color: #0E559C;
  color: #fff;
padding: 3rem 0;
  text-align: center;
}

.footer-icon {
  margin: 20px 10px;
}

.footer-link {
  text-decoration: none;
  color: #fff;
}

.footer-link:hover {
  color: #fff;
}

.carousel-item img {
  display: none;
}

/* ------------------------------------------------ MEDIA QUERIES --------------------------------------------------- */
@media screen and (min-width:990px) {
  .contact-grp {
    flex-direction: row;
    gap: 5rem;
  }

  .carousel-item img {
    display: block;
  }

  .contact-solo {
    justify-content: center;
  }
}
